


body {
    font-family: inter,sans-serif;
    background-color: #090e34;
}

.lista {
    background-color: #1d2144;
    height: 374px;
    width: 252px;
    border-radius: 10px;
}

.Searchh {
    width: 132px;
    margin-right: 19px;
    margin-left: 7px;
    height: 48px;
}

p {
    color: #9ea0d2;
    font-size: 17.5px;
}

.fonts {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

ul li {
    color: #9ea0d2;
}

.btnbg {
    background-color: #111a4d;
    color: #9ea0d2;
}

    .btnbg:hover {
        background-color: #3366cc;
        color: white;
    }

.form1 {
    border-radius: 10px;
}

.Search {
    height: 50px;
    background-color: #242b51;
    border-color: #242b51;
}

    .Search :focus {
        background-color: #000033;
    }

.hovercolor {
    color: blue;
}

.fontsize {
    font-size: 13px;
}

.ul {
    list-style-type: none;
}

.rr {
    padding-left: 46px;
    padding-right: 44px;
    padding-top: 50px;
    border-radius: 10px;
}

.Design {
    border-radius: 20px;
    width: 80px;
    font-size: 14px;
}


.zzz {
    height: 50px;
    background-color: #242b51;
    box-shadow: 2px 2px 2px 2px #242b51;
    border-color: #242b51;
}

.zz {
    margin-bottom: 4px;
    height: 50px;
    background-color: #242b51;
    box-shadow: 2px 2px 2px 2px #242b51;
    border-color: #242b51;
}

.z {
    /* padding-right: 240px;*/
    margin-top: 15px;
    margin-bottom: 10px;
    height: 50px;
    background-color: #4a6cf7;
}

.BY:hover {
    color: red;
}

.aaa {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center
}


