

body {
  
    font-family: inter,sans-serif;
    background-color: #090e34;
}


p {
    color: #9ea0d2;
}


.Search {
    width: 132px;
    margin-right: 19px;
    margin-left: 7px;
    height: 48px;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
/* .position-relativee{position:relative;}
               .buttonn{position:absolute;top0;}
        */
.detailsbox:active {
    background-color: white;
    border: 2px solid #808080;
    opacity: 0;
    transition: opacity 1.5s;
}
/*           .u {  margin-left: 52px;}
        */
/*
nav {
    background-color: #16215b;
}*/

.navbar .nav-item .nav-link:hover {
    color: #808080;
}

.lista {
    background-color: #1d2144;
    height: 370px;
    width: 252px;
    border-radius: 10px;
}

.umm {
    background-color: #1d2144;
    margin-bottom: 20px;
    padding-left: 33px;
    opacity: 100%;
}
